<app-header></app-header>

<div class="container my-5">
    <div class="row">
        <div class="col-md-12">

            <h4 class="font-weight-bold">Order History</h4>
            <table class="table table-bordered  my-3" *ngIf="orders.length > 0">
                <thead class="grey lighten-2">
                  <tr>
                    <th scope="col" class="text-nowrap">Order ID</th>
                    <th scope="col" class="text-nowrap">Customer</th>
                    <th scope="col" class="text-nowrap">No. of Products</th>
                    <th scope="col" class="text-nowrap">Status</th>
                    <th scope="col" class="text-nowrap">Total</th>
                    <th scope="col" class="text-nowrap">Date Added</th>
                    <!-- <th scope="col" class="text-nowrap">Action</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let order of orders; let i=index;">
                    <th scope="row" class="text-center">
                      <a [href]="'/order-detail/'+order?._id" class="orderLink">#{{order?._id}}</a>
                    </th>
                    <td class="text-nowrap">
                        <p>{{order?.customerName |  titlecase}}</p>
                    </td>
                    <td>
                        {{order?.products.length}}
                    </td>

                    <td class="text-nowrap">
                        <p>{{order?.status}}</p>
                    </td>
                    <td class="text-nowrap">
                        <p>{{order?.totalAmnt}}</p>
                    </td>
                    <td class="text-nowrap">
                        <p>{{order?.createdAt | date: 'medium'}}</p>
                    </td>
                    <!-- <td>
                        <select class="form-control select-style" name="status" [(ngModel)]="order.orderStatus" (change)="updateStatus(order._id, $event)">
                          <option [value]="status.value" *ngFor="let status of orderStatuses">{{status.text}}</option>
                        </select>
                      </td> -->
                  </tr>
                </tbody>
            </table>

            <div class="my-2" *ngIf="orders.length == 0">
                <p style="font-size: large;">Your have no orders yet</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>