<header class="header-section">
  <div class="header-top">
    <div class="container">
      <div class="row py-2">
        <div class="contact-display col-12 text-center col-md-3">
          <!-- <p class="m-0 text-dark">vkreta@gmail.com</p>
          <span><i class="fa fa-phone"></i>+91 8909.41.41.41</span> -->
          <img src="../../assets/images/logo.png" alt="" />
        </div>
        <div class="search-display my-2 col-12 col-md-6">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="What do you need?"
              (keyup)="getSearchValue($event)"
            />
            <button
              type="button"
              class="btn m-0 btn-sm shadow-none btn-warning"
            >
              Search <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>

          <div class="col" *ngIf="searchResult.length > 0">
            <div class="row">
              <ul
                class="list-group col position-absolute"
                style="z-index: 1000;"
                *ngFor="let product of searchResult"
              >
                <a
                  class="text-primary"
                  href="/product-description/{{ product?._id }}"
                >
                  <li class="list-group-item" style="cursor: pointer;">
                    {{ product?.itemName }}
                  </li>
                </a>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="account-display my-3 col-12 col-md-3 text-center text-md-right p-0 d-flex justify-content-center justify-content-md-end"
        >
          <div class="inner-header mx-1 my-n1 p-0">
            <ul class="nav-right p-0">
              <li class="cart-icon" [class.cartDisplay]="productCount > 0">
                <a href="#">
                  <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                  <span *ngIf="productCount">{{ productCount }}</span>
                </a>
                <div class="cart-hover">
                  <div class="select-items" *ngFor="let item of dataResponse">
                    <table>
                      <tbody>
                        <tr>
                          <td class="si-pic">
                            <img
                              [src]="
                                item.productImg.length > 0
                                  ? item.productImg[0]
                                  : imgLink
                              "
                              alt=""
                            />
                          </td>
                          <td class="si-text">
                            <div class="product-selected">
                              <h4>{{ item.productName }}</h4>
                            </div>
                          </td>
                          <td class="si-close text-right">
                            <h5>{{ item.orderPrice }}</h5>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="select-total">
                    <span>Total:</span>
                    <h5>{{ totalAmout }}</h5>
                  </div>
                  <div class="select-button">
                    <a routerLink="/cart" class="primary-btn checkout-btn"
                      >CHECK OUT</a
                    >
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <a href="login" class="text-dark mx-2" *ngIf="!isAuthenticated">
            <i class="fa fa-user" aria-hidden="true"></i>
            Account Login</a
          >

          <div class="dropdown my-n1" *ngIf="isAuthenticated">
            <button
              class="dropdown-toggle mya-dropdown btn rounded shadow-none px-2 my-n3"
              type="button"
            >
              {{ name ? name : "Account Login" }}
            </button>
            <div
              class="dropdown-menu mya-dropdown-menu p-0"
              style="margin-left: -20px;"
            >
              <a href="my-account" class="dropdown-item">My Account</a>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nav-item">
    <div class="container">
      <div class="nav-depart">
        <div class="depart-btn">
          <i class="fa fa-bars" aria-hidden="true"></i>
          <span>Categories</span>
          <ul class="depart-hover">
            <li
              *ngFor="let category of categories"
              class="active"
              routerLink="/product-category/{{ category._id }}"
            >
              <a>{{ category?.categoryName }}</a>
            </li>
          </ul>
        </div>
      </div>
      <nav class="nav-menu mobile-menu">
        <ul>
          <li class="active"><a href="./index">Home</a></li>
          <li><a href="./shop">Shop</a></li>
          <li>
            <a href="#">Collection</a>
            <ul class="dropdown">
              <li><a href="#">Men's</a></li>
              <li><a href="#">Women's</a></li>
              <li><a href="#">Kid's</a></li>
            </ul>
          </li>
          <li><a href="./blog">Blog</a></li>
          <li><a href="./contact">Contact</a></li>
          <!-- <li>
            <a href="#">Pages</a>
            <ul class="dropdown">
              <li><a href="./blog-details">Blog Details</a></li>
              <li><a href="./shopping-cart">Shopping Cart</a></li>
              <li><a href="./check-out">Checkout</a></li>
              <li><a href="./faq">Faq</a></li>
              <li><a href="./register">Register</a></li>
              <li><a href="./login">Login</a></li>
            </ul>
          </li> -->
        </ul>
      </nav>
      <div id="mobile-menu-wrap"></div>
    </div>
  </div>
</header>
