.dropdown {
	position: relative;
	display: inline-block;
}

.mya-dropdown-menu {
	display: none;
	position: absolute;
	z-index: 1;
}

.mya-dropdown-menu a {
	text-decoration: none;
	display: block;
}


.dropdown:hover .mya-dropdown-menu {display: block;}