<footer class="footer-section bg-new">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-left">
                    <div class="footer-logo">
                        <a href="/"><img src="https://seller-buck.s3.ap-south-1.amazonaws.com/Vkreta+Logo+Footer-01.png" alt="Vkreta Logo Footer" width="180px"></a>
                    </div>
                    <ul>
                        <li class="text-white">Address: 60-49 Road 11378 New York</li>
                        <li class="text-white">Phone: +65 11.188.888</li>
                        <li class="text-white">Email: vkreta@gmail.com</li>
                    </ul>
                    <div class="footer-social">
                        <a href="#" class="btn-new-inverse"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="btn-new-inverse"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="btn-new-inverse"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="btn-new-inverse"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="footer-widget">
                    <h2 class="font-new text-white font-left-underline position-relative d-inline-block">Information</h2>
                    <ul>
                        <li><a href="about" class="text-white">About Us</a></li>
                        <li><a href="cart" class="text-white">Checkout</a></li>
                        <li><a href="contact" class="text-white">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="footer-widget">
                    <h2 class="font-new text-white font-left-underline position-relative d-inline-block">My Account</h2>
                    <ul>
                        <li><a routerLink="/my-account" class="text-white">My Account</a></li>
                        <li><a routerLink="/contact" class="text-white">Contact</a></li>
                        <li><a routerLink="/cart" class="text-white">Shopping Cart</a></li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-lg-4">
                <div class="newslatter-item">
                    <h5>Join Our Newsletter Now</h5>
                    <p>Get E-mail updates about our latest shop and special offers.</p>
                    <form action="#" class="subscribe-form">
                        <input type="text" placeholder="Enter Your Mail">
                        <button type="button">Subscribe</button>
                    </form>
                </div>
            </div> -->
        </div>
    </div>
    <div class="copyright-reserved">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text my-2 text-white">
                        Copyright &copy; All rights reserved 2021 Made with <i class="fa fa-heart-o heartbeat text-white" aria-hidden="true"></i> by <a href="/" target="_blank" class="text-white">sudoPatner</a>.
                    </div>
                    <div class="payment-pic">
                        <img src="../../assets/svg/payment-methods.svg" alt="Payment Methods" height="30px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>