<app-header></app-header>

<div class="container my-5">
    <div class="row">
        <div class="col-md-5 mb-4 mb-md-0">
            <div id="mdb-lightbox-ui"></div>
            <div class="mdb-lightbox">
              <div class="row product-gallery">
                <div class="col-12 mb-0">
                  <figure class="view overlay rounded z-depth-1 main-img">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg" data-size="710x823">
                      <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg" class="img-fluid z-depth-1">
                    </a>
                  </figure>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-3">
                      <div class="view overlay rounded z-depth-1 gallery-item">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" class="img-fluid">
                        <div class="mask rgba-white-slight"></div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="view overlay rounded z-depth-1 gallery-item">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13a.jpg" class="img-fluid">
                        <div class="mask rgba-white-slight"></div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="view overlay rounded z-depth-1 gallery-item">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg" class="img-fluid">
                        <div class="mask rgba-white-slight"></div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="view overlay rounded z-depth-1 gallery-item">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg" class="img-fluid">
                        <div class="mask rgba-white-slight"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
      
        </div>
        <div class="col-md-5">
    
        <h4 class="font-weight-bold">{{product?.itemName}}</h4>
        <p class="mb-2 text-muted text-uppercase small">NA</p>

        <!-- <div class="row">
            <div class="col d-flex">
                <p class="align-left">
                    <span class="fa fa-star checked-star"></span>
                    <span class="fa fa-star checked-star"></span>
                    <span class="fa fa-star checked-star"></span>
                    <span class="fa fa-star checked-star"></span>
                    <span class="fa fa-star"></span>
                </p>
                <span class="small m-1">1 Reviews</span>
                <a href="#writeReview" class="mx-3 text-muted font-weight-bold small my-1"><i class="fa fa-pencil" aria-hidden="true"></i> Write a Review</a>
            </div>
        </div> -->

        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-sm table-borderless mb-0">
                        <tbody>
                        <tr>
                            <th class="pl-0 w-25 text-muted" scope="row"><b>Brand</b></th>
                            <td class="text-muted">{{product?.brand}}</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25 text-muted" scope="row"><b>Product Code</b></th>
                            <td class="text-muted">{{product?.barcode}}</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25 text-muted" scope="row"><b>SKU</b></th>
                            <td class="text-muted">NA</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                    <p class="text-success">Product Available In Stock : {{product?.availableUnits}}</p>
            </div>
        </div>
        <p class="m-0"><small class="font-weight-bold text-dark">Price</small></p>
        <p><span class="mr-1"><strong>INR {{product?.mrp}}</strong></span></p>

        <!-- <div class="mt-1">
            <p class="m-0"><small class="font-weight-bold text-dark">Select Size</small></p>
            <div class="form-check form-check-inline pl-0">
                <input type="radio" class="form-check-input" id="small" name="materialExampleRadios"
                checked>
                <label class="form-check-label small text-uppercase card-link-secondary"
                for="small">S</label>
            </div>
            <div class="form-check form-check-inline pl-0">
                <input type="radio" class="form-check-input" id="medium" name="materialExampleRadios">
                <label class="form-check-label small text-uppercase card-link-secondary"
                for="medium">M</label>
            </div>
            <div class="form-check form-check-inline pl-0">
                <input type="radio" class="form-check-input" id="large" name="materialExampleRadios">
                <label class="form-check-label small text-uppercase card-link-secondary"
                for="large">L</label>
            </div>
        </div> -->
        <div class="mt-2">
            <p class="mb-0"><small class="font-weight-bold text-dark">Quantity</small> <input name="quantity" type="number"(keyup)="changeQuantity()" class="mx-2" min="1" max="10" [(ngModel)]="quantity"></p>
        </div>

        <div class="mt-2">
            <button type="button" (click)="addToCart()" class="btn btn-dark rounded btn-block btn-md mr-1 mb-2"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Buy Now</button>

            <button type="button" (click)="onAddToCart()" class="btn btn-dark rounded btn-block btn-md mr-1 mb-2"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to cart</button>
        </div>
        
        <!-- <div class="mt-2 d-flex justify-content-between">
            <a><small class="text-muted font-weight-light"><i class="fa fa-heart-o" aria-hidden="true"></i> Add to Wish List</small></a>
            <a><small class="text-muted font-weight-light"> <i class="fa fa-clone" aria-hidden="true"></i> Add To Compare</small></a>
        </div> -->
        
        
        </div>
        <div class="col-md-2">
            
        </div>
    </div>
</div>

<div class="container my-3">
    <div class="row">
        <button class="btn btn-dark rounded">Description</button>
        <button class="btn btn-light rounded ml-2">Reviews (1.2K)</button>
    </div>

    <!-- Description -->
    <div class="row my-3">
        <p>{{product?.description}}</p>
    </div>


    <!-- Reviews -->
    <div class="row my-3 border p-3">
        <div class="col-12 p-0">
            <h5><span>1</span> review for <span>Fantasy T-shirt</span></h5>
            <div class="media mt-3 mb-4">
            <img class="d-flex mr-3 z-depth-1" src="https://mdbootstrap.com/img/Photos/Others/placeholder1.jpg" width="62" alt="Generic placeholder image">
            <div class="media-body">
                <div class="d-sm-flex justify-content-between">
                <p class="mt-1 mb-2">
                    <strong>Marthasteward </strong>
                    <span>– </span><span>January 28, 2020</span>
                </p>
                <p class="align-left">
                    <span class="fa fa-star checked-star"></span>
                    <span class="fa fa-star checked-star"></span>
                    <span class="fa fa-star checked-star"></span>
                    <span class="fa fa-star checked-star"></span>
                    <span class="fa fa-star"></span>
                </p>
                </div>
                <p class="mb-0">Nice one, love it!</p>
            </div>
            </div>
            <hr>
            <h5 class="mt-4">Write a review</h5>
            <p>Your email address will not be published.</p>
            <div class="my-3">
                <p class="align-left">
                    <span class="fa fa-star checked-star"></span>
                    <span class="fa fa-star checked-star"></span>
                    <span class="fa fa-star checked-star"></span>
                    <span class="fa fa-star checked-star"></span>
                    <span class="fa fa-star"></span>
                </p>
            </div>
            <div>
            <!-- Your review -->
            <div class="md-outline">
                <label for="">Your review</label>
                <textarea class="md-textarea form-control pr-6" rows="4" placeholder="Your review goes here..."></textarea>
            </div>
            <!-- Name -->
            <div class="md-outline my-3">
                <label for="">Name</label>
                <input type="text" class="form-control pr-6" placeholder="Name">
            </div>
            <div class="text-right pb-2">
                <button type="button" class="btn btn-primary">Add a review</button>
            </div>
            </div>
        </div>
    </div>
</div>


<!-- Related Products -->
<div class="container my-3">

    <h4 class="my-5 font-weight-bold text-center">Related Products</h4>
    <section class="text-center">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-5">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="https://preview.colorlib.com/theme/fashi/img/products/product-4.jpg" alt="">
                        <div class="icon">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                            <li class="quick-view"><a href="#">View Product</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Coat</div>
                        <a href="#">
                            <h5>Microfiber Wool Scarf</h5>
                        </a>
                        <div class="product-price">
                            INR 64.00
                            <span>INR 35.00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 mb-5">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="https://preview.colorlib.com/theme/fashi/img/products/product-4.jpg" alt="">
                        <div class="icon">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                            <li class="quick-view"><a href="#">View Product</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Coat</div>
                        <a href="#">
                            <h5>Microfiber Wool Scarf</h5>
                        </a>
                        <div class="product-price">
                            INR 64.00
                            <span>INR 35.00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 mb-5">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="https://preview.colorlib.com/theme/fashi/img/products/product-4.jpg" alt="">
                        <div class="icon">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                            <li class="quick-view"><a href="#">View Product</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Coat</div>
                        <a href="#">
                            <h5>Microfiber Wool Scarf</h5>
                        </a>
                        <div class="product-price">
                            INR 64.00
                            <span>INR 35.00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 mb-5">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="https://preview.colorlib.com/theme/fashi/img/products/product-4.jpg" alt="">
                        <div class="icon">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                            <li class="quick-view"><a href="#">View Product</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Coat</div>
                        <a href="#">
                            <h5>Microfiber Wool Scarf</h5>
                        </a>
                        <div class="product-price">
                            INR 64.00
                            <span>INR 35.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<!-- Patner Logo -->
<div class="partner-logo">
    <div class="container">
        <div class="row d-flex justify-content-around">
            <div class="col-md py-4 text-center col-4">
                <div class="tablecell-inner">
                    <img src="https://preview.colorlib.com/theme/fashi/img/logo-carousel/logo-1.png" alt="">
                </div>
            </div>
            <div class="col-md py-4 text-center col-4">
                <div class="tablecell-inner">
                    <img src="https://preview.colorlib.com/theme/fashi/img/logo-carousel/logo-2.png" alt="">
                </div>
            </div>
            <div class="col-md py-4 text-center col-4">
                <div class="tablecell-inner">
                    <img src="https://preview.colorlib.com/theme/fashi/img/logo-carousel/logo-3.png" alt="">
                </div>
            </div>
            <div class="col-md py-4 text-center col-4">
                <div class="tablecell-inner">
                    <img src="https://preview.colorlib.com/theme/fashi/img/logo-carousel/logo-4.png" alt="">
                </div>
            </div>
            <div class="col-md py-4 text-center col-4">
                <div class="tablecell-inner">
                    <img src="https://preview.colorlib.com/theme/fashi/img/logo-carousel/logo-5.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer Section -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-left">
                    <div class="footer-logo">
                        <a href="#"><img src="img/footer-logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: 60-49 Road 11378 New York</li>
                        <li>Phone: +65 11.188.888</li>
                        <li>Email: hello.chandan@gmail.com</li>
                    </ul>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1">
                <div class="footer-widget">
                    <h5>Information</h5>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Serivius</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>My Account</h5>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Shopping Cart</a></li>
                        <li><a href="#">Shop</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="newslatter-item">
                    <h5>Join Our Newsletter Now</h5>
                    <p>Get E-mail updates about our latest shop and special offers.</p>
                    <form action="#" class="subscribe-form">
                        <input type="text" placeholder="Enter Your Mail">
                        <button type="button">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-reserved">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">
                        Copyright &copy; All rights reserved 2021 Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="/" target="_blank">Admin</a>.
                    </div>
                    <div class="payment-pic">
                        <img src="img/payment-method.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>