<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="ht-left">
                <div class="mail-service">
                    <i class=" fa fa-envelope"></i>
                    hello.chandan@gmail.com
                </div>
                <div class="phone-service">
                    <i class=" fa fa-phone"></i>
                    +65 11.188.888
                </div>
            </div>
            <div class="ht-right">
                <a href="login" class="login-panel"><i class="fa fa-user" aria-hidden="true"></i>Login</a>
                <div class="top-social">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <a href="./index">
                            <img src="img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="advanced-search">
                        <button type="button" class="category-btn">All Categories</button>
                        <div class="input-group">
                            <input type="text" placeholder="What do you need?">
                            <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-right col-md-3">
                    <ul class="nav-right">
                        <li class="heart-icon">
                            <a href="#">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <span>1</span>
                            </a>
                        </li>
                        <li class="cart-icon">
                            <a href="#">
                                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                <span>3</span>
                            </a>
                            <div class="cart-hover">
                                <div class="select-items">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="si-pic"><img src="http://opencart.templatemela.com/OPC10/OPC100240/OPC2/image/cache/catalog/11-60x70.jpg" alt=""></td>
                                                <td class="si-text">
                                                    <div class="product-selected">
                                                        <p>INR60.00 x 1</p>
                                                        <h6>Kabino Bedside Table</h6>
                                                    </div>
                                                </td>
                                                <td class="si-close">
                                                    <i class="ti-close"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="si-pic"><img src="http://opencart.templatemela.com/OPC10/OPC100240/OPC2/image/cache/catalog/11-60x70.jpg" alt=""></td>
                                                <td class="si-text">
                                                    <div class="product-selected">
                                                        <p>INR60.00 x 1</p>
                                                        <h6>Kabino Bedside Table</h6>
                                                    </div>
                                                </td>
                                                <td class="si-close">
                                                    <i class="ti-close"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="select-total">
                                    <span>total:</span>
                                    <h5>INR120.00</h5>
                                </div>
                                <div class="select-button">
                                    <a href="cart" class="primary-btn view-card">VIEW CART</a>
                                    <a href="checkout" class="primary-btn checkout-btn">CHECK OUT</a>
                                </div>
                            </div>
                        </li>
                        <li class="cart-price">INR150.00</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-item">
        <div class="container">
            <div class="nav-depart">
                <div class="depart-btn">
                    <i class="fa fa-bars" aria-hidden="true"></i>                    
                    <span>All departments</span>
                    <ul class="depart-hover">
                        <li class="active"><a href="#">Women’s Clothing</a></li>
                        <li><a href="#">Men’s Clothing</a></li>
                        <li><a href="#">Underwear</a></li>
                        <li><a href="#">Kid's Clothing</a></li>
                        <li><a href="#">Brand Fashion</a></li>
                        <li><a href="#">Accessories/Shoes</a></li>
                        <li><a href="#">Luxury Brands</a></li>
                        <li><a href="#">Brand Outdoor Apparel</a></li>
                    </ul>
                </div>
            </div>
            <nav class="nav-menu mobile-menu">
                <ul>
                    <li class="active"><a href="./index">Home</a></li>
                    <li><a href="./shop">Shop</a></li>
                    <li><a href="#">Collection</a>
                        <ul class="dropdown">
                            <li><a href="#">Men's</a></li>
                            <li><a href="#">Women's</a></li>
                            <li><a href="#">Kid's</a></li>
                        </ul>
                    </li>
                    <li><a href="./blog">Blog</a></li>
                    <li><a href="./contact">Contact</a></li>
                    <li><a href="#">Pages</a>
                        <ul class="dropdown">
                            <li><a href="./blog-details">Blog Details</a></li>
                            <li><a href="./shopping-cart">Shopping Cart</a></li>
                            <li><a href="./check-out">Checkout</a></li>
                            <li><a href="./faq">Faq</a></li>
                            <li><a href="./register">Register</a></li>
                            <li><a href="./login">Login</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div id="mobile-menu-wrap"></div>
        </div>
    </div>
</header>

<div class="container my-5">
    <div class="row">
        <div class="col-md-5 mb-4 mb-md-0">
            <div id="mdb-lightbox-ui"></div>
            <div class="mdb-lightbox">
              <div class="row product-gallery">
                <div class="col-12 mb-0">
                  <figure class="view overlay rounded z-depth-1 main-img">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg" data-size="710x823">
                      <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg" class="img-fluid z-depth-1">
                    </a>
                  </figure>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-3">
                      <div class="view overlay rounded z-depth-1 gallery-item">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" class="img-fluid">
                        <div class="mask rgba-white-slight"></div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="view overlay rounded z-depth-1 gallery-item">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13a.jpg" class="img-fluid">
                        <div class="mask rgba-white-slight"></div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="view overlay rounded z-depth-1 gallery-item">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg" class="img-fluid">
                        <div class="mask rgba-white-slight"></div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="view overlay rounded z-depth-1 gallery-item">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg" class="img-fluid">
                        <div class="mask rgba-white-slight"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
      
        </div>
        <div class="col-md-5">
    
        <h4 class="font-weight-bold">Mechanical Watch Slogan Any Combination Wherever</h4>
        <p class="mb-2 text-muted text-uppercase small">Shirts</p>

        <div class="row">
            <div class="col d-flex">
                <p class="align-left">
                    <span class="fa fa-star checked-star"></span>
                    <span class="fa fa-star checked-star"></span>
                    <span class="fa fa-star checked-star"></span>
                    <span class="fa fa-star checked-star"></span>
                    <span class="fa fa-star"></span>
                </p>
                <span class="small m-1">1 Reviews</span>
                <a href="#writeReview" class="mx-3 text-muted font-weight-bold small my-1"><i class="fa fa-pencil" aria-hidden="true"></i> Write a Review</a>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-sm table-borderless mb-0">
                        <tbody>
                        <tr>
                            <th class="pl-0 w-25 text-muted" scope="row"><b>Brand</b></th>
                            <td class="text-muted">Apple</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25 text-muted" scope="row"><b>Product Code</b></th>
                            <td class="text-muted">Product 20</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25 text-muted" scope="row"><b>SKU</b></th>
                            <td class="text-muted">Test 1</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                    <p class="text-success">Product Available In Stock : 995</p>
            </div>
        </div>
        <p class="m-0"><small class="font-weight-bold text-dark">Price</small></p>
        <p><span class="mr-1"><strong>INR 1499.00</strong></span></p>

        <div class="mt-1">
            <p class="m-0"><small class="font-weight-bold text-dark">Select Size</small></p>
            <div class="form-check form-check-inline pl-0">
                <input type="radio" class="form-check-input" id="small" name="materialExampleRadios"
                checked>
                <label class="form-check-label small text-uppercase card-link-secondary"
                for="small">S</label>
            </div>
            <div class="form-check form-check-inline pl-0">
                <input type="radio" class="form-check-input" id="medium" name="materialExampleRadios">
                <label class="form-check-label small text-uppercase card-link-secondary"
                for="medium">M</label>
            </div>
            <div class="form-check form-check-inline pl-0">
                <input type="radio" class="form-check-input" id="large" name="materialExampleRadios">
                <label class="form-check-label small text-uppercase card-link-secondary"
                for="large">L</label>
            </div>
        </div>
        <div class="mt-2">
            <p class="mb-0"><small class="font-weight-bold text-dark">Quantity</small> <input type="number" class="mx-2" value="1" min="1" max="10"></p>
        </div>

        <div class="mt-2">
            <button type="button" class="btn btn-dark rounded btn-block btn-md mr-1 mb-2"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to cart</button>
        </div>
        
        <div class="mt-2 d-flex justify-content-between">
            <a><small class="text-muted font-weight-light"><i class="fa fa-heart-o" aria-hidden="true"></i> Add to Wish List</small></a>
            <a><small class="text-muted font-weight-light"> <i class="fa fa-clone" aria-hidden="true"></i> Add To Compare</small></a>
        </div>
        
        
        </div>
        <div class="col-md-2">
            
        </div>
    </div>
</div>

<div class="container my-3">
    <div class="row">
        <button class="btn btn-dark rounded">Description</button>
        <button class="btn btn-light rounded ml-2">Reviews (1.2K)</button>
    </div>

    <!-- Description -->
    <div class="row my-3">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>


    <!-- Reviews -->
    <div class="row my-3 border p-3">
        <div class="col-12 p-0">
            <h5><span>1</span> review for <span>Fantasy T-shirt</span></h5>
            <div class="media mt-3 mb-4">
            <img class="d-flex mr-3 z-depth-1" src="https://mdbootstrap.com/img/Photos/Others/placeholder1.jpg" width="62" alt="Generic placeholder image">
            <div class="media-body">
                <div class="d-sm-flex justify-content-between">
                <p class="mt-1 mb-2">
                    <strong>Marthasteward </strong>
                    <span>– </span><span>January 28, 2020</span>
                </p>
                <p class="align-left">
                    <span class="fa fa-star checked-star"></span>
                    <span class="fa fa-star checked-star"></span>
                    <span class="fa fa-star checked-star"></span>
                    <span class="fa fa-star checked-star"></span>
                    <span class="fa fa-star"></span>
                </p>
                </div>
                <p class="mb-0">Nice one, love it!</p>
            </div>
            </div>
            <hr>
            <h5 class="mt-4">Add a review</h5>
            <p>Your email address will not be published.</p>
            <div class="my-3">
                <p class="align-left">
                    <span class="fa fa-star checked-star"></span>
                    <span class="fa fa-star checked-star"></span>
                    <span class="fa fa-star checked-star"></span>
                    <span class="fa fa-star checked-star"></span>
                    <span class="fa fa-star"></span>
                </p>
            </div>
            <div>
            <!-- Your review -->
            <div class="md-outline">
                <label for="">Your review</label>
                <textarea class="md-textarea form-control pr-6" rows="4" placeholder="Your review goes here..."></textarea>
            </div>
            <!-- Name -->
            <div class="md-outline my-3">
                <label for="">Name</label>
                <input type="text" class="form-control pr-6" placeholder="Name">
            </div>
            <div class="text-right pb-2">
                <button type="button" class="btn btn-primary">Add a review</button>
            </div>
            </div>
        </div>
    </div>
</div>


<div class="container my-3">

    <h4 class="my-5 font-weight-bold text-center">Related Products</h4>
    <section class="text-center">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-5">
                <div class="">

                    <div class="view zoom overlay z-depth-2 rounded">
                    <img class="img-fluid w-100"
                        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" alt="Sample">
                    <a href="#!">
                        <div class="mask">
                        <img class="img-fluid w-100"
                            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg">
                        <div class="mask rgba-black-slight"></div>
                        </div>
                    </a>
                    </div>

                    <div class="pt-4">
                        <h5>Fantasy T-shirt</h5>
                        <h6>INR 1299</h6>
                    </div>

                </div>
            </div>

            <div class="col-md-6 col-lg-3 mb-5">
                <div class="">

                    <div class="view zoom overlay z-depth-2 rounded">
                    <img class="img-fluid w-100"
                        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" alt="Sample">
                    <a href="#!">
                        <div class="mask">
                        <img class="img-fluid w-100"
                            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg">
                        <div class="mask rgba-black-slight"></div>
                        </div>
                    </a>
                    </div>

                    <div class="pt-4">
                        <h5>Fantasy T-shirt</h5>
                        <h6>INR 1299</h6>
                    </div>

                </div>
            </div>

            <div class="col-md-6 col-lg-3 mb-5">
                <div class="">

                    <div class="view zoom overlay z-depth-2 rounded">
                    <img class="img-fluid w-100"
                        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" alt="Sample">
                    <a href="#!">
                        <div class="mask">
                        <img class="img-fluid w-100"
                            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg">
                        <div class="mask rgba-black-slight"></div>
                        </div>
                    </a>
                    </div>

                    <div class="pt-4">
                        <h5>Fantasy T-shirt</h5>
                        <h6>INR 1299</h6>
                    </div>

                </div>
            </div>

            <div class="col-md-6 col-lg-3 mb-5">
                <div class="">

                    <div class="view zoom overlay z-depth-2 rounded">
                    <img class="img-fluid w-100"
                        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" alt="Sample">
                    <a href="#!">
                        <div class="mask">
                        <img class="img-fluid w-100"
                            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg">
                        <div class="mask rgba-black-slight"></div>
                        </div>
                    </a>
                    </div>

                    <div class="pt-4">
                        <h5>Fantasy T-shirt</h5>
                        <h6>INR 1299</h6>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>



<!-- Patner Logo -->
<div class="partner-logo">
    <div class="container">
        <div class="row d-flex justify-content-around">
            <div class="col-md py-4 text-center col-4">
                <div class="tablecell-inner">
                    <img src="https://preview.colorlib.com/theme/fashi/img/logo-carousel/logo-1.png" alt="">
                </div>
            </div>
            <div class="col-md py-4 text-center col-4">
                <div class="tablecell-inner">
                    <img src="https://preview.colorlib.com/theme/fashi/img/logo-carousel/logo-2.png" alt="">
                </div>
            </div>
            <div class="col-md py-4 text-center col-4">
                <div class="tablecell-inner">
                    <img src="https://preview.colorlib.com/theme/fashi/img/logo-carousel/logo-3.png" alt="">
                </div>
            </div>
            <div class="col-md py-4 text-center col-4">
                <div class="tablecell-inner">
                    <img src="https://preview.colorlib.com/theme/fashi/img/logo-carousel/logo-4.png" alt="">
                </div>
            </div>
            <div class="col-md py-4 text-center col-4">
                <div class="tablecell-inner">
                    <img src="https://preview.colorlib.com/theme/fashi/img/logo-carousel/logo-5.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer Section -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-left">
                    <div class="footer-logo">
                        <a href="#"><img src="img/footer-logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: 60-49 Road 11378 New York</li>
                        <li>Phone: +65 11.188.888</li>
                        <li>Email: hello.chandan@gmail.com</li>
                    </ul>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1">
                <div class="footer-widget">
                    <h5>Information</h5>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Serivius</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>My Account</h5>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Shopping Cart</a></li>
                        <li><a href="#">Shop</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="newslatter-item">
                    <h5>Join Our Newsletter Now</h5>
                    <p>Get E-mail updates about our latest shop and special offers.</p>
                    <form action="#" class="subscribe-form">
                        <input type="text" placeholder="Enter Your Mail">
                        <button type="button">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-reserved">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">
                        Copyright &copy; All rights reserved 2021 Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="/" target="_blank">Admin</a>.
                    </div>
                    <div class="payment-pic">
                        <img src="img/payment-method.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>