<app-header></app-header>

<div class="banner-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 rounded my-2">
                <div class="col border rounded bg-white">
                    <div class="row my-3 px-3">
                        <h3 class="font-weight-bold my-2 heading-underline font-new text-uppercase text-color-new">Vkreta Store</h3>
                        <p class="w-100 text-black-50 font-new font-weight-bold">184 Lorem Rd, St Ipsum Road PLC 3021, London</p>
                    </div>

                    <div class="row my-3 px-3">
                        <h3 class="font-weight-bold my-2 heading-underline font-new text-uppercase text-color-new">Telephone</h3>
                        <p class="w-100 text-black-50 font-new font-weight-bold">+91-8909414141</p>
                    </div>

                    <div class="row my-3 px-3">
                        <h3 class="font-weight-bold my-2 heading-underline font-new text-uppercase text-color-new">Opening Times</h3>
                        <p class="w-100 text-black-50 font-new font-weight-bold">9:00 AM to 6:00 PM</p>
                    </div>

                    <div class="row my-3 px-3">
                        <h3 class="font-weight-bold my-2 heading-underline font-new text-uppercase text-color-new">Social Media</h3>
                        <ul class="social-network social-circle w-100">
                            <li><a href="#" target="_blank" class="icoFacebook my-2" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank" class="icoTwitter my-2" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank" class="icoGoogle my-2" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" target="_blank" class="icoLinkedin my-2" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 rounded my-2">
                <div class="col border rounded bg-white">
                    <h3 class="my-2 font-new text-uppercase font-weight-bold heading-underline font-color-new mx-2 my-3">Contact Form</h3>
                    <div class="row my-3 px-2">
                        <form class="col">
                            <div class="form-group">
                                <label class="my-0 text-uppercase text-color-new small">Name</label>
                                <input type="text" class="form-control" placeholder="Full Name">
                            </div>

                            <div class="form-group">
                                <label class="my-0 text-uppercase text-color-new small">Email address</label>
                                <input type="email" class="form-control" placeholder="name@example.com">
                            </div>
                            <div class="form-group">
                                <label class="my-0 text-uppercase text-color-new small">Enquiry</label>
                                <textarea class="form-control" rows="4" placeholder="Query text"></textarea>
                            </div>

                            <button class="btn mx-0 btn-new btn-lg">Submit</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-4">
            <div class="col">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6966.361385828816!2d79.50103377549266!3d29.188806678806372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39a09b4fe4504cf1%3A0x8978eec8b0ceae3b!2sVishwakarma%20Washing%20Centre%2C%20Haldwani!5e0!3m2!1sen!2sin!4v1619365397278!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>