<app-header></app-header>

<div class="banner-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 rounded text-dark my-2">
                <div class="col border">
                    <div class="row my-3 px-3">
                        <h3 class="font-weight-bold my-0">Vkreta Store</h3>
                        <p class="w-100">184 Lorem Rd, St Ipsum Road PLC 3021, London</p>
                    </div>

                    <div class="row my-3 px-3">
                        <h3 class="font-weight-bold my-0">Telephone</h3>
                        <p class="w-100">+91-8909414141</p>
                    </div>

                    <div class="row my-3 px-3">
                        <h3 class="font-weight-bold my-0">Opening Times</h3>
                        <p class="w-100">9:00 AM to 6:00 PM</p>
                    </div>

                    <div class="row my-3 px-3">
                        <h3 class="font-weight-bold my-0">Social Media</h3>
                        <ul class="social-network social-circle w-100">
                            <li><a href="#" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-8 rounded text-dark my-2">
                <div class="col border">
                    <h2 class="my-2">Contact Form</h2>
                    <div class="row my-3 px-2">
                        <form class="col">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Full Name">
                            </div>

                            <div class="form-group">
                                <label>Email address</label>
                                <input type="email" class="form-control" placeholder="name@example.com">
                            </div>
                            <div class="form-group">
                                <label>Enquiry</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>

                            <button class="btn btn-sm mx-0 btn-warning">Submit</button>
                          </form>
                    </div>
                </div>
            </div> -->
        </div>

        <div class="row">
            <div class="col">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6966.361385828816!2d79.50103377549266!3d29.188806678806372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39a09b4fe4504cf1%3A0x8978eec8b0ceae3b!2sVishwakarma%20Washing%20Centre%2C%20Haldwani!5e0!3m2!1sen!2sin!4v1619365397278!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>






<!-- Shipping Section -->
<section class="latest-blog spad">
    <div class="container">
        <div class="benefit-items">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="https://preview.colorlib.com/theme/fashi/img/icon-1.png" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Free Shipping</h6>
                            <p>For all orders</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="https://preview.colorlib.com/theme/fashi/img/icon-2.png" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Delivery On Time</h6>
                            <p>If good have prolems</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="https://preview.colorlib.com/theme/fashi/img/icon-1.png" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Secure Payment</h6>
                            <p>100% secure payment</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>