<app-header></app-header>
<div class="banner-section">
    <div class="container">

        <div class="row bg-white rounded px-3 py-4">
            <div class="col">
                <h3 class="font-new heading-underline text-uppercase letter-spacing-2 font-weight-bold text-color-new">Login & Security</h3>
            </div>
            
            <div class="col-md-12 my-3">
                <div class="row d-flex justify-content-between">
                    <div class="display-box col-md-12">
                        <label class="font-new">Name:</label>
                        <input type="text" class="form-control"  [(ngModel)]="name">
                    </div>
                    <!-- <div class="action-box col-md-2 text-md-right pt-4">
                        <button class="btn btn-warning mx-0 btn-sm text-dark">Change</button>
                    </div> -->
                </div>
            </div>

            <div class="col-md-12 my-3">
                <div class="row d-flex justify-content-between">
                    <div class="display-box col-md-12">
                        <label class="font-new">Email:</label>
                        <input type="email" class="form-control" [value]="userData?.email" readonly>
                    </div>
                    <!-- <div class="action-box col-md-2 text-md-right pt-4">
                        <button class="btn btn-warning mx-0 btn-sm text-dark">Change</button>
                    </div> -->
                </div>
            </div>

            <div class="col-md-12 my-3">
                <div class="row d-flex justify-content-between">
                    <div class="display-box col-md-12">
                        <label class="font-new">Mobile Number:</label>
                        <input type="text" class="form-control" value="+918791050551" readonly>
                    </div>
                    <!-- <div class="action-box col-md-2 text-md-right pt-4">
                        <button class="btn btn-warning mx-0 btn-sm text-dark">Change</button>
                    </div> -->
                </div>
            </div>

            <div class="col-md-12 my-3">
              <div class="pull-left"><button class="btn btn-new mx-0 rounded" (click)="update()">Update</button></div>
            </div>


            <!-- <div class="col-md-12">
                <div class="row d-flex justify-content-between">
                    <div class="display-box col-md-12">
                        <label>Password:</label>
                        <input type="password" class="form-control" value="helloworld" readonly>
                    </div>
                    <div class="action-box col-md-2 text-md-right pt-4">
                        <button class="btn btn-warning mx-0 btn-sm text-dark">Change</button>
                    </div>
                </div>
            </div> -->


        </div>
    </div>
</div>



<app-footer></app-footer>
