<app-header></app-header>

<div class="banner-section">
	<div class="container">
		<div class="col-md-6 border py-3 rounded mx-auto text-center fa-5x bg-white" *ngIf="orderStatus">
			<i class="fa fa-check-circle text-success" aria-hidden="true"></i>
			<div class="col mt-2 mb-3">
				<h1 class="font-new text-color-new heading-underline">Thank You!</h1>
			</div>
			
			<h3 class="font-new">
				Your payment of {{ amount }} &#8377; processed successfully. Your order
				has been booked with order id
				<a routerLink='/order-detail/{{paymentId}}' class="text-color-new">#{{ paymentId }}</a>. You can check your order
				details in
				<a routerLink="/order-listing" class="text-color-new">My orders</a> section.
			</h3>
		</div>

		<div class="col-md-6 border py-3 rounded mx-auto text-center fa-5x" *ngIf="!orderStatus">
			<i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>
			<h1>Oops! Payment Error</h1>
			<h3>
				Unable to process your payment. Please Retry after sometime or with
				different payment method. Thank You
			</h3>
		</div>
	</div>
</div>

<!-- Footer Section -->
<app-footer></app-footer>