<div class="container">   
    <div class="row justify-content-center ">
        <div class="col-md-6">
            <div class="card my-5">
            <header class="card-header">
                <a href="login" class="float-right btn btn-dark rounded mt-1">login</a>
	            <h4 class="card-title mt-2">User Signup</h4>
            </header>
            <article class="card-body">
                <form [formGroup]="registerForm" (ngSubmit)="submitRegisterForm(registerForm.valid)">
                    <div class="form-row">
                        <div class="col form-group">
                            <label>First name </label>   
                            <input formControlName="fname" type="text" class="form-control" placeholder="First Name">
                            <p *ngIf="!registerForm.get('fname').valid && submitFormAttempt && registerForm.get('fname').hasError('required')" class="deep-orange-text small m-0">
                                Please provide first name!
                            </p>
                        </div> 
                        
                        <div class="col form-group">
                            <label>Last name</label>
                            <input formControlName="lname" type="text" class="form-control" placeholder="Last Name">
                            <p *ngIf="!registerForm.get('lname').valid && submitFormAttempt && registerForm.get('lname').hasError('required')" class="deep-orange-text small m-0">
                                Please provide last name!
                            </p>
                        </div> 
                        
                    </div>
                    
                    <div class="form-group">
                        <label>Email address</label>
                        <input  formControlName="email" type="email" class="form-control" placeholder="Email">
                        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                        <p *ngIf="!registerForm.get('email').valid && submitFormAttempt && registerForm.get('email').hasError('required')" class="deep-orange-text small m-0">
                            Please provide a email!
                        </p>
                        <p *ngIf="registerForm.get('email').hasError('email')" class="deep-orange-text small m-0">
                            Please provide a valid email!
                        </p>
                    </div> 
                    
                    <div class="form-group">
                        <label class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" value="option1">
                        <span class="form-check-label"> Male </span>
                        </label>
                        <label class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" value="option2">
                        <span class="form-check-label"> Female</span>
                        </label>
                    </div>
                    
                    <div class="form-group">
                        <label>Create password</label>
                        <input formControlName="password" class="form-control" type="password" placeholder="********">
                        <p *ngIf="!registerForm.get('password').valid && submitFormAttempt && registerForm.get('password').hasError('required')" class="deep-orange-text small m-0">
                            Please provide a password!
                        </p>
                        <p *ngIf="!registerForm.get('password').valid && submitFormAttempt && registerForm.get('password').hasError('minLength')" class="deep-orange-text small m-0">
                            Please provide a password with atleast 6 characters!
                        </p>
                    </div> 

                    <div class="form-group">
                        <label>Repeat Password</label>
                        <input formControlName="confirmPassword" class="form-control" type="password" placeholder="********">
                        <p *ngIf="!registerForm.get('confirmPassword').valid && submitFormAttempt && registerForm.get('confirmPassword').hasError('required')" class="deep-orange-text small m-0">
                            Please provide a confirm password!
                        </p>
                        <p *ngIf="!registerForm.get('confirmPassword').valid && submitFormAttempt && registerForm.get('confirmPassword').hasError('minLength')" class="deep-orange-text small m-0">
                            Please provide a confirm password with atleast 6 characters!
                        </p>
                        <p *ngIf="registerForm.get('confirmPassword').dirty && registerForm.get('confirmPassword').value !== registerForm.get('password').value" class="deep-orange-text small m-0">
                            Password does not match!
                        </p>
                    </div> 
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark btn-block"> Register  </button>
                    </div> 
                        
                    <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>                                          
                </form>
            </article> 
            
            <div class="border-top card-body">Have an account? <a href="login">Log In</a></div>
            </div>
        </div>    
    </div>    
</div>