<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="ht-left">
                <div class="mail-service">
                    <i class=" fa fa-envelope"></i>
                    hello.chandan@gmail.com
                </div>
                <div class="phone-service">
                    <i class=" fa fa-phone"></i>
                    +65 11.188.888
                </div>
            </div>
            <div class="ht-right">
                <a href="login" class="login-panel"><i class="fa fa-user" aria-hidden="true"></i>Login</a>
                <div class="top-social">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <a href="./index">
                            <img src="img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="advanced-search">
                        <button type="button" class="category-btn">All Categories</button>
                        <div class="input-group">
                            <input type="text" placeholder="What do you need?">
                            <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-right col-md-3">
                    <ul class="nav-right">
                        <li class="heart-icon">
                            <a href="#">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <span>1</span>
                            </a>
                        </li>
                        <li class="cart-icon">
                            <a href="#">
                                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                <span>3</span>
                            </a>
                            <div class="cart-hover">
                                <div class="select-items">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="si-pic"><img src="http://opencart.templatemela.com/OPC10/OPC100240/OPC2/image/cache/catalog/11-60x70.jpg" alt=""></td>
                                                <td class="si-text">
                                                    <div class="product-selected">
                                                        <p>INR60.00 x 1</p>
                                                        <h6>Kabino Bedside Table</h6>
                                                    </div>
                                                </td>
                                                <td class="si-close">
                                                    <i class="ti-close"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="si-pic"><img src="http://opencart.templatemela.com/OPC10/OPC100240/OPC2/image/cache/catalog/11-60x70.jpg" alt=""></td>
                                                <td class="si-text">
                                                    <div class="product-selected">
                                                        <p>INR60.00 x 1</p>
                                                        <h6>Kabino Bedside Table</h6>
                                                    </div>
                                                </td>
                                                <td class="si-close">
                                                    <i class="ti-close"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="select-total">
                                    <span>total:</span>
                                    <h5>INR120.00</h5>
                                </div>
                                <div class="select-button">
                                    <a href="cart" class="primary-btn view-card">VIEW CART</a>
                                    <a href="checkout" class="primary-btn checkout-btn">CHECK OUT</a>
                                </div>
                            </div>
                        </li>
                        <li class="cart-price">INR150.00</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-item">
        <div class="container">
            <div class="nav-depart">
                <div class="depart-btn">
                    <i class="fa fa-bars" aria-hidden="true"></i>                    
                    <span>All departments</span>
                    <ul class="depart-hover">
                        <li class="active"><a href="#">Women’s Clothing</a></li>
                        <li><a href="#">Men’s Clothing</a></li>
                        <li><a href="#">Underwear</a></li>
                        <li><a href="#">Kid's Clothing</a></li>
                        <li><a href="#">Brand Fashion</a></li>
                        <li><a href="#">Accessories/Shoes</a></li>
                        <li><a href="#">Luxury Brands</a></li>
                        <li><a href="#">Brand Outdoor Apparel</a></li>
                    </ul>
                </div>
            </div>
            <nav class="nav-menu mobile-menu">
                <ul>
                    <li class="active"><a href="./index">Home</a></li>
                    <li><a href="./shop">Shop</a></li>
                    <li><a href="#">Collection</a>
                        <ul class="dropdown">
                            <li><a href="#">Men's</a></li>
                            <li><a href="#">Women's</a></li>
                            <li><a href="#">Kid's</a></li>
                        </ul>
                    </li>
                    <li><a href="./blog">Blog</a></li>
                    <li><a href="./contact">Contact</a></li>
                    <li><a href="#">Pages</a>
                        <ul class="dropdown">
                            <li><a href="./blog-details">Blog Details</a></li>
                            <li><a href="./shopping-cart">Shopping Cart</a></li>
                            <li><a href="./check-out">Checkout</a></li>
                            <li><a href="./faq">Faq</a></li>
                            <li><a href="./register">Register</a></li>
                            <li><a href="./login">Login</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div id="mobile-menu-wrap"></div>
        </div>
    </div>
</header>

<div class="container my-5">
    <div class="row">
        <div class="col-lg-3 col-12">
            <div class="col grey lighten-2">
                <p class="py-2 text-dark">Latest</p>
            </div>
            <div class="col p-0">
                <div class="select-items">
                    <table style="border-collapse: separate; border-spacing: 1em;">
                        <tbody>
                            <tr>
                                <td class="si-pic border"><img src="http://opencart.templatemela.com/OPC10/OPC100240/OPC2/image/cache/catalog/11-60x70.jpg" alt="" class=""></td>
                                <td class="si-text">
                                    <div class="product-selected">
                                        <p>INR60.00 x 1</p>
                                        <h6>Kabino Bedside Table</h6>
                                    </div>
                                </td>
                                <td class="si-close">
                                    <i class="ti-close"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="si-pic border"><img src="http://opencart.templatemela.com/OPC10/OPC100240/OPC2/image/cache/catalog/11-60x70.jpg" alt=""></td>
                                <td class="si-text">
                                    <div class="product-selected">
                                        <p>INR60.00 x 1</p>
                                        <h6>Kabino Bedside Table</h6>
                                    </div>
                                </td>
                                <td class="si-close">
                                    <i class="ti-close"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-12">
            <div class="col">
                <h4>Shopping Cart (0.00Kg)</h4>
                <table class="table table-bordered table-responsive my-3">
                    <thead class="grey lighten-2">
                      <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Model</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" class="text-center">
                            <img src="http://opencart.templatemela.com/OPC10/OPC100240/OPC2/image/cache/catalog/11-60x70.jpg">
                        </th>
                        <td>
                            <p class="m-0">Solid Backpack thinnest headphone jack access</p>
                             <!-- <span class="m-0 small">Reward Points: 1000</span> -->
                        </td>
                        <td>
                            <p>SAM1</p>
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <input type="text" value="1" style="width: 40px; margin-top: 6px; height: 30px;" class="text-center">
                                <button class="btn btn-dark btn-sm mx-3 rounded"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                                <button class="btn btn-danger btn-sm rounded"><i class="fa fa-times-circle-o" aria-hidden="true"></i></button>
                            </div>
                        </td>

                        <td>
                            <p>INR 499</p>
                        </td>
                        <td>
                            <p>INR 499</p>
                        </td>
                      </tr>
                    </tbody>
                </table>

                <h5 class="">What would you like to do next?</h5>
                <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>

                <div class="accordion" id="accordionExample">
                    <div class="card border-0 my-3">
                      <div class="card-header py-1" id="headingOne">
                        <h2 class="mb-0">
                          <button class="btn btn-link p-0" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Use Coupon Code
                          </button>
                        </h2>
                      </div>
                  
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                          <div class="row">
                              <p class="my-2 mr-2 text-dark">Enter Your Coupon Here</p>
                              <input type="text" class="form-control col" placeholder="Enter your coupon here">
                              <button class="btn btn-sm btn-dark" style="margin-top: -1.6px;">Apply Coupon</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card border-0 my-3">
                      <div class="card-header py-1" id="headingTwo">
                        <h2 class="mb-0">
                          <button class="btn btn-link p-0 collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Estimate Shipping & Taxes
                          </button>
                        </h2>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                          <!-- To Be Updated -->
                        </div>
                      </div>
                    </div>
                    <div class="card border-0 my-3">
                      <div class="card-header py-1" id="headingThree">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Use Gift Card
                          </button>
                        </h2>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="row">
                                <p class="my-2 mr-2 text-dark">Gift Card</p>
                                <input type="text" class="form-control col" placeholder="Enter your gift coupon here">
                                <button class="btn btn-sm btn-dark" style="margin-top: -1.6px;">Apply Gift Card</button>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col d-flex justify-content-md-end">
                        <table class="table table-bordered col-md-4 align-right">
                            <thead>
                            <tr>
                                <th scope="col" class="text-right"><b>Sub-Total:</b></th>
                                <td>INR 1200</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="col" class="text-right"><b>Discount:</b></th>
                                <td>INR 26</td>
                            </tr>
                            <tr>
                                <th scope="col" class="text-right"><b>GST (18%)</b></th>
                                <td>INR 456</td>
                            </tr>
                            <tr>
                                <th scope="col" class="text-right"><b>Total</b></th>
                                <td>INR 1820</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="my-3 col d-flex justify-content-between">
                        <a class="btn btn-dark m-0 rounded btn-sm" role="button">Continue Shopping</a>
                        <a class="btn btn-dark m-0 rounded btn-sm" role="button">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>











<!-- Patner Logo -->
<div class="partner-logo">
    <div class="container">
        <div class="row d-flex justify-content-around">
            <div class="col-md py-4 text-center col-4">
                <div class="tablecell-inner">
                    <img src="https://preview.colorlib.com/theme/fashi/img/logo-carousel/logo-1.png" alt="">
                </div>
            </div>
            <div class="col-md py-4 text-center col-4">
                <div class="tablecell-inner">
                    <img src="https://preview.colorlib.com/theme/fashi/img/logo-carousel/logo-2.png" alt="">
                </div>
            </div>
            <div class="col-md py-4 text-center col-4">
                <div class="tablecell-inner">
                    <img src="https://preview.colorlib.com/theme/fashi/img/logo-carousel/logo-3.png" alt="">
                </div>
            </div>
            <div class="col-md py-4 text-center col-4">
                <div class="tablecell-inner">
                    <img src="https://preview.colorlib.com/theme/fashi/img/logo-carousel/logo-4.png" alt="">
                </div>
            </div>
            <div class="col-md py-4 text-center col-4">
                <div class="tablecell-inner">
                    <img src="https://preview.colorlib.com/theme/fashi/img/logo-carousel/logo-5.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer Section -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-left">
                    <div class="footer-logo">
                        <a href="#"><img src="img/footer-logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: 60-49 Road 11378 New York</li>
                        <li>Phone: +65 11.188.888</li>
                        <li>Email: hello.chandan@gmail.com</li>
                    </ul>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1">
                <div class="footer-widget">
                    <h5>Information</h5>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Serivius</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>My Account</h5>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Shopping Cart</a></li>
                        <li><a href="#">Shop</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="newslatter-item">
                    <h5>Join Our Newsletter Now</h5>
                    <p>Get E-mail updates about our latest shop and special offers.</p>
                    <form action="#" class="subscribe-form">
                        <input type="text" placeholder="Enter Your Mail">
                        <button type="button">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-reserved">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">
                        Copyright &copy; All rights reserved 2021 Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="/" target="_blank">Admin</a>.
                    </div>
                    <div class="payment-pic">
                        <img src="img/payment-method.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>