<app-header></app-header>



<div class="banner-section">
    <div class="container">
        <div class="row">
            <a class="col-lg-6 rounded text-dark my-2" (click)="payNow()">
                <div class="col border">
                    <div class="row my-3 px-2">
                        <div class="image-icon text-center">
                            <img src='https://upload.wikimedia.org/wikipedia/commons/2/24/Paytm_Logo_%28standalone%29.svg' alt=""style="max-height: 50px;">
                        </div>
                        <div class="">
                            <p class="m-0">Pay Online</p>
                            <span class="text-small">Credit card, Debit card, Paytm wallet, Netbanking</span>
                        </div>
                    </div>
                </div>
            </a>

            <a class="col-lg-6 rounded text-dark my-2" (click)="payLater()">
                <div class="col border">
                    <div class="row my-3 px-2">
                        <div class="image-icon text-center">
                            <img src="https://www.pngfind.com/pngs/m/152-1526509_cash-on-delivery-png-cash-on-delivery-logo.png" alt=""style="max-height: 50px;">
                        </div>
                        <div class="">
                            <p class="m-0">Cash on delivery</p>
                            <span class="text-small">Pay to delivery agent</span>
                        </div>
                    </div>
                </div>
            </a>
            
        </div>
    </div>
</div>

<app-footer></app-footer>