<app-header></app-header>



<div class="container my-5">
    <div class="row">
        <div class="col-md-2">
            <div class="category-show">
                <div class="col grey lighten-2">
                    <p class="py-2 text-dark">My Account</p>
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action text-dark">
                      My Account
                    </a>
                    <a href="#" class="list-group-item list-group-item-action text-dark">Edit Account</a>
                    <a href="#" class="list-group-item list-group-item-action text-dark">Password</a>
                    <a href="#" class="list-group-item list-group-item-action text-dark">Address Book</a>
                    <a href="#" class="list-group-item list-group-item-action text-dark">Wishlist</a>
                    <a href="#" class="list-group-item list-group-item-action text-dark">Order History</a>
                    <a href="#" class="list-group-item list-group-item-action text-dark">Downloads</a>
                    <a href="#" class="list-group-item list-group-item-action text-dark">Recurring Payments</a>
                    <a href="#" class="list-group-item list-group-item-action text-dark">Returns</a>
                </div>
            </div>
        </div>
        <div class="col-md-10">
    
            <h4 class="font-weight-bold">Address Book</h4>
            <table class="table table-bordered  my-3">
                <tbody>
                  <tr>
                    <th scope="row" class="text-left">
                        Chandan Kanyal <br>
                        Dewalchaur Kham <br>
                        263139 <br>
                        Haldwani 263139 <br>
                        Uttar Pradesh <br>
                        India
                    </th>
                    <td class="text-right">
                        <a class="btn-dark btn btn-sm rounded" role="button" href="address-information">Edit</a>
                        <button class="btn btn-sm rounded btn-danger">Delete</button>
                    </td>
                  </tr>
                </tbody>
            </table>

            <div class="row d-flex justify-content-md-end justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
            <p>Showing 1 to 1 of 1 (1 Pages)</p>
        </div>
    </div>
</div>



<!-- Patner Logo -->
<div class="partner-logo">
    <div class="container">
        <div class="row d-flex justify-content-around">
            <div class="col-md py-4 text-center col-4">
                <div class="tablecell-inner">
                    <img src="https://preview.colorlib.com/theme/fashi/img/logo-carousel/logo-1.png" alt="">
                </div>
            </div>
            <div class="col-md py-4 text-center col-4">
                <div class="tablecell-inner">
                    <img src="https://preview.colorlib.com/theme/fashi/img/logo-carousel/logo-2.png" alt="">
                </div>
            </div>
            <div class="col-md py-4 text-center col-4">
                <div class="tablecell-inner">
                    <img src="https://preview.colorlib.com/theme/fashi/img/logo-carousel/logo-3.png" alt="">
                </div>
            </div>
            <div class="col-md py-4 text-center col-4">
                <div class="tablecell-inner">
                    <img src="https://preview.colorlib.com/theme/fashi/img/logo-carousel/logo-4.png" alt="">
                </div>
            </div>
            <div class="col-md py-4 text-center col-4">
                <div class="tablecell-inner">
                    <img src="https://preview.colorlib.com/theme/fashi/img/logo-carousel/logo-5.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer Section -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-left">
                    <div class="footer-logo">
                        <a href="#"><img src="img/footer-logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: 60-49 Road 11378 New York</li>
                        <li>Phone: +65 11.188.888</li>
                        <li>Email: hello.chandan@gmail.com</li>
                    </ul>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1">
                <div class="footer-widget">
                    <h5>Information</h5>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Serivius</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>My Account</h5>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Shopping Cart</a></li>
                        <li><a href="#">Shop</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="newslatter-item">
                    <h5>Join Our Newsletter Now</h5>
                    <p>Get E-mail updates about our latest shop and special offers.</p>
                    <form action="#" class="subscribe-form">
                        <input type="text" placeholder="Enter Your Mail">
                        <button type="button">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-reserved">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">
                        Copyright &copy; All rights reserved 2021 Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="/" target="_blank">Admin</a>.
                    </div>
                    <div class="payment-pic">
                        <img src="img/payment-method.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>