<app-header></app-header>



<div class="container my-5">
    <div class="row">
        <div class="col-md-3">
            <div class="category-show">
                <div class="col bg-new rounded">
                    <p class="py-2 text-white font-new">My Account</p>
                </div>
                <div class="list-group">
                    <a href="my-account" class="list-group-item list-group-item-action text-dark">
                      My Account
                    </a>
                    <a href="#" class="list-group-item list-group-item-action text-dark">Edit Account</a>
                    <a href="#" class="list-group-item list-group-item-action text-dark">Password</a>
                    <a href="#" class="list-group-item list-group-item-action text-dark">Address Book</a>
                    <a href="#" class="list-group-item list-group-item-action text-dark">Wishlist</a>
                    <a href="#" class="list-group-item list-group-item-action text-dark">Order History</a>
                    <a href="#" class="list-group-item list-group-item-action text-dark">Downloads</a>
                    <a href="#" class="list-group-item list-group-item-action text-dark">Recurring Payments</a>
                    <a href="#" class="list-group-item list-group-item-action text-dark">Returns</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="right-column bg-white px-3 rounded py-4">
                <h4 class="font-weight-bold text-uppercase font-new heading-underline">Address Book</h4>
                <table class="table table-bordered  my-3">
                    <tbody>
                      <tr>
                        <th scope="row" class="text-left">
                            Chandan Kanyal <br>
                            Dewalchaur Kham <br>
                            263139 <br>
                            Haldwani 263139 <br>
                            Uttar Pradesh <br>
                            India
                        </th>
                        <td class="text-right">
                            <a class="btn-dark btn btn-sm rounded-left" role="button" href="address-information">Edit</a>
                            <button class="btn btn-sm btn-new mx-0 rounded-right">Delete</button>
                        </td>
                      </tr>
                    </tbody>
                </table>
    
                <div class="d-flex justify-content-md-end justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
                <p class="font-new text-center text-md-left">Showing 1 to 1 of 1 (1 Pages)</p>
            </div>
            
        </div>
    </div>
</div>



<app-footer></app-footer>