<app-header></app-header>


<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <div class="col row d-flex justify-content-between">
                <h4 class="font-weight-bold">Order History</h4>
                <button class="btn btn-sm btn-dark my-n2" routerLink="/order-listing"> Back to my orders</button>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered my-3">
                    <thead class="grey lighten-2">
                      <tr>
                        <th class="text-nowrap" colspan="2">Order Details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">
                            <p class="m-0"><span class="font-weight-bold">Order ID: </span> <span>{{order?._id}}</span></p>
                            <p><span class="font-weight-bold">Date Added: </span> <span>{{order?.createdAt | date:'mediumDate'}}</span></p>
                        </th>
                        <td class="text-nowrap">
                            <p class="m-0">
                                <span class="font-weight-bold">Payment Method: </span> 
                                <span>{{order?.paymentMode | uppercase}}</span>
                            </p>
                            <p><span class="font-weight-bold">Shipping Method: </span> <span>Flat Shipping Rate</span></p>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>


            <div class="table-responsive">
                <table class="table table-bordered my-3">
                    <thead class="grey lighten-2">
                        <tr>
                        <th class="text-nowrap">Payment Address</th>
                        <th class="text-nowrap">Shipping Address</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">
                            <div class="m-0">
                                <p>{{address.name | uppercase }}</p>
                                <p>{{address.mobile | uppercase }}</p>
                                <p>{{address.address1 | uppercase }}</p>
                                <p>{{address.address2 | uppercase }}</p>
                                <p>{{address.landmark | uppercase }}</p>
                                <p>{{address.postal_code | uppercase }}</p>
                                <p>{{address.city | uppercase }}</p>
                                <p>{{address.state | uppercase }}</p>
                                <p>{{address.country | uppercase }}</p>
                            </div>
                        </th>
                        <td class="text-nowrap">
                            <div class="m-0">
                                <p>{{address.name | uppercase }}</p>
                                <p>{{address.mobile | uppercase }}</p>
                                <p>{{address.address1 | uppercase }}</p>
                                <p>{{address.address2 | uppercase }}</p>
                                <p>{{address.landmark | uppercase }}</p>
                                <p>{{address.postal_code | uppercase }}</p>
                                <p>{{address.city | uppercase }}</p>
                                <p>{{address.state | uppercase }}</p>
                                <p>{{address.country | uppercase }}</p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered my-3">
                    <thead class="grey lighten-2">
                    <tr>
                        <th scope="col" class="text-nowrap">Product Name</th>
                        <th scope="col" class="text-nowrap">Product Id</th>
                        <th scope="col" class="text-nowrap">Quantity</th>
                        <th scope="col" class="text-nowrap">Price</th>
                        <th scope="col" class="text-nowrap">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let product of order?.products;let i=index">
                        <tr>
                            <th scope="row" class="text-left">
                              {{product.productName}}
                            </th>
                            <td class="text-nowrap">
                                <p>{{product.productId}}</p>
                            </td>
                            <td>
                                {{product.quantity}}
                            </td>

                            <td class="text-nowrap">
                                <p>INR {{product.orderPrice}}</p>
                            </td>
                            <td class="text-nowrap">
                                <p>INR {{product.orderPrice*product.quantity}}</p>
                            </td>
                        </tr>
                      </ng-container>
                        <tr>
                            <th scope="row" colspan="2"></th>
                            <td class="text-nowrap text-right">
                                <p><b>Sub-Total:</b></p>
                            </td>
                            <td class="text-nowrap">
                                <p>INR {{order?.totalAmnt}}</p>
                            </td>
                            <td></td>
                        </tr>

                        <tr>
                            <th scope="row" colspan="2"></th>
                            <td class="text-nowrap text-right">
                                <p><b>Flat Shipping Rate:</b></p>
                            </td>
                            <td class="text-nowrap">
                                <p>N/A</p>
                            </td>
                            <td></td>
                        </tr>

                        <tr>
                            <th scope="row" colspan="2"  style="text-align: center;">
                                <ngb-rating class= "starRating" [(rate)]="currentRate" [max]="5"></ngb-rating>
                                  <pre>Rate: <b>{{currentRate}}</b></pre>
                            </th>
                            <td class="text-nowrap text-right">
                                <p><b>Total:</b></p>
                            </td>
                            <td class="text-nowrap">
                                <p>INR {{order?.totalAmnt}}</p>
                            </td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
