<app-header></app-header>

<div class="container-fluid px-5 my-5">
	<div class="row">
		<div class="col-md-3 col-lg-2 bg-white py-3">
			<div class="category-show">
				<div class="col bg-new rounded">
					<p class="py-2 text-white font-new">Categories</p>
				</div>
				<div class="list-group">
					<a class="list-group-item list-group-item-action text-dark" *ngFor="let category of categories"
						routerLink="/product-category/{{ category?._id }}">
						{{ category?.categoryName }}</a>
				</div>
			</div>
			<form [formGroup]="colorForm">
				<div class="refine-search mt-5 mb-3">
					<div class="col bg-new rounded">
						<p class="py-2 text-white font-new">Refine Search</p>
					</div>

					<div class="list-group my-3">
						<h3 class="font-weight-bold font-new heading-underline">Avg. Rating</h3>
						<div class="row py-2 hover-padding">
							<a class="col" (click)="getProductsOnSubmit(4)">
								<i class="fa fa-star" style="color: orange;" aria-hidden="true"></i>
								<i class="fa fa-star" style="color: orange;" aria-hidden="true"></i>
								<i class="fa fa-star" style="color: orange;" aria-hidden="true"></i>
								<i class="fa fa-star" style="color: orange;" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<span> & up</span>
							</a>
						</div>

						<div class="row py-2 hover-padding">
							<a class="col" (click)="getProductsOnSubmit(3)">
								<i class="fa fa-star" style="color: orange;" aria-hidden="true"></i>
								<i class="fa fa-star" style="color: orange;" aria-hidden="true"></i>
								<i class="fa fa-star" style="color: orange;" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<span> & up</span>
							</a>
						</div>

						<div class="row py-2 hover-padding">
							<a class="col" (click)="getProductsOnSubmit(2)">
								<i class="fa fa-star" style="color: orange;" aria-hidden="true"></i>
								<i class="fa fa-star" style="color: orange;" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<span> & up</span>
							</a>
						</div>

						<div class="row py-2 hover-padding">
							<a class="col" (click)="getProductsOnSubmit(1)">
								<i class="fa fa-star" style="color: orange;" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<span> & up</span>
							</a>
						</div>
					</div>

					<div class="list-group my-3">
						<h3 class="font-weight-bold font-new heading-underline">Color</h3>

						<!-- <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="Red" />
                        <label class="custom-control-label" for="Red">Red</label>
                      </div> -->
						<div formArrayName="colors">
							<div [formGroupName]="i"
								*ngFor=" let item of colorForm.controls?.colors?.controls; let i = index">
								<input type="checkbox" formControlName="checked"
									(change)="getProductsOnSubmit()" />&nbsp;
								<label>{{ colors[i].name }}</label>
							</div>
						</div>
					</div>

					<div class="list-group my-3">
						<h3 class="font-weight-bold font-new heading-underline">Price</h3>
						<div data-role="main" class="ui-content">
							<div>
								<ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"
									(mouseup)="getProductsOnSubmit()"></ngx-slider>
							</div>
						</div>
					</div>

					<button class="btn btn-sm rounded btn-new m-0" (click)="getProducts()">
						Reset Search
					</button>
				</div>
			</form>
			<div class="side-advert my-4">
				<!-- <img src="http://opencart.templatemela.com/OPC10/OPC100240/OPC2/image/cache/catalog/left-banner-266x400.jpg" alt="" class="img-thumbnail col-12"> -->
			</div>
		</div>
		<div class="col-md-9 col-lg-10 listing-area">
			<div class="bg-white py-4 px-3">
				<div class="py-3">
					<h3 class="font-weight-bold my-2 my-md-0 text-md-left text-center text-uppercase font-new letter-spacing-2 font-color-new h-underline">{{ categoryName }}</h3>
					<div class="row-md d-md-flex justify-content-md-end my-md-0 my-3">
						<div class="row sorting-box my-md-n5">
							<div class="col" *ngIf="categoryName.toLowerCase() == 'food and beverages' ">
								<span class="my-1">Location</span>
								<select class="form-control" (change)="getDataByLocation($event)">
									<option value="hisar">Hisar</option>
									<option value="karnal">Karnal</option>
									<option value="panipat">Panipat</option>
									<option value="ambala">Ambala</option>
								</select>
							</div>
							<div class="col">
								<span class="my-1">Sort By</span>
								<select class="form-control" (change)="sortData($event)">
									<option value="">Default</option>
									<option value="itemName-asc">Name (A - Z) </option>
									<option value="temName-desc">Name (Z - A) </option>
									<option value="productPrice-asc">Price (Low > High) </option>
									<option value="productPrice-desc">Price (High > Low) </option>
									<option value="rating-asc">Rating (Highest) </option>
									<option value="rating-desc">Rating (Lowest) </option>
									<option value="model-asc">Model (A - Z) </option>
									<option value="model-desc">Model (Z - A) </option>
								</select>
							</div>
						</div>
					</div>
				</div>
	
				<hr>
	
				<div class="row my-2 px-3" *ngIf="productList.length > 0">
					<div class="col-sm-6 col-md-4 col-lg-2" *ngFor="let product of productList">
						<a routerLink="/product-description/{{ product?._id }}">
							<div class="product-item">
								<div class="pi-pic">
									<div class="img-wrap">
										<img
											[src]="product && product.productImg && product.productImg.length > 0 ? (product?.productImg)[0] : imgLink">
									</div>
									<ul>
										<li class="w-icon quick-view d-block bg-new rounded py-2 text-white">
											View Product
										</li>
									</ul>
								</div>
								<div class="pi-text">
									<div class="catagory-name">{{ product?.itemName }}</div>
									<div class="product-price inr">{{ product?.mrp }}</div>
								</div>
							</div>
						</a>
						
					</div>
				</div>
				<div class="row my-5" *ngIf="productList.length === 0">
					<h4 class="font-weight-bold font-new px-3">No products found</h4>
				</div>
				<!-- <div class="row d-flex justify-content-md-end justify-content-center">
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item">
							<a class="page-link" href="#">Previous</a>
						</li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">Next</a></li>
					</ul>
				</nav>
			</div> -->
			</div>
			
			
		</div>
	</div>
</div>

<app-footer></app-footer>