.img-wrap {
  width: 100%;
  height: 300px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

.img-wrap > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  /* min-height: 100%; */
  min-width: 100%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}

.heading-underline {
  /* display: inline-block !important; */
  position: relative !important;
}

.heading-underline:after {
  position: absolute !important;
  content: "";
  left: 0;
  bottom: 0;
  width: 25px;
  border-top: 2px solid #043d5d;
}

.product-anchor:hover {
  padding-left: 0.5rem;
}
.hover-padding {
  transition: ease-in-out 0.1s all;
}

.hover-padding:hover {
  background-color: #eee;
  padding-left: 0.3rem;
}
@media screen and (max-width: 768px) {
  .search-results-container {
    background-color: #fff !important;
  }
}

.h-underline {
  display: inline-block !important;
  position: relative !important;
}

.h-underline:after {
  position: absolute !important;
  content: "";
  left: 0;
  bottom: 0;
  width: 50%;
  border-top: 2px solid #043d5d;
}


.sorting-box{
  /* position: absolute;
  top: 20px; */
}

@media (max-width: 768px){
  .h-underline {
    display: block !important;
    position: relative !important;
  }
  
  .h-underline:after {
    position: absolute !important;
    content: "";
    left: 30%;
    bottom: 0;
    width: 40%;
    border-top: 2px solid #043d5d;
  }

  .listing-area{
    background-color: #fff !important;
  }
}